### Variable
- string
- float
- integer
- boolean

In [1]:
# 여러 이름 동시 할당
two = deux = dos = 2 # dos >> deux >> two

print(two)

2

In [2]:
# 불변 객체이므로
two = 4

print(two, deux)

4 2

In [3]:
p = [1, 2, 3]
q = p

p, q

([1, 2, 3], [1, 2, 3])

In [4]:
id(p), id(q)

(140160691110208, 140160691110208)

In [5]:
p[0] = 9

p, q

([9, 2, 3], [9, 2, 3])

In [6]:
# id는 같음
id(p), id(q)

(140160691110208, 140160691110208)

### 좋은 변수명
- 간결하고 명확한 이름
- 의미가 담겨야 함
- 코드에는 의미가 담기고 주석에는 의도가 담겨야 함
    - ex) the number of students n < the_number_of_students < num_student
    - 카멜 표기법 ex) numStudents

### 자료형 변환 및 형 변환
= str(<변환할 값>), int(), float(), bool()

In [7]:
a = 10

# str
str(a)

# float
float(a)

# bool
bool(a) # 어떤 값이 false로 변환 되는지

True

주의1) float >> int

In [8]:
x = 10.7 # 소수점 내림

int(x)

10

In [9]:
y = 10.8

print(int(x + y))
print(int(x) + int(y))

21
20

주의2) str >> int/float

In [10]:
i = "10"

int(i), float(i)

(10, 10.0)

In [11]:
j = "10.7"

int(j)

ValueError: invalid literal for int() with base 10: '10.7'

### print() 함수 꿀팁

In [12]:
dog = "dog"
cat = "cat"
lion = "lion"

print(dog + cat + lion) # space X, \n
print(dog, cat, lion) # space O, \n

dogcatlion
dog cat lion

In [13]:
print(dog, cat, lion, sep = ' ', end = '\n') # default
print(dog, cat, lion, sep = ' ', end = '\n\n')
print("EOL")

dog cat lion
dog cat lion

EOL

In [14]:
#1
print("My favorite animal is", dog)

#2
print(f"My favorite animal is {dog}")

My favorite animal is dog
My favorite animal is dog

코드 줄이 짧을 때 ; 를 이용해서 한 줄로 쓸 수 있음

### input() 함수
- console에서 사용자가 입력하는 값을 받을 수 있는 함수
- 입력 받는 값은 문자열로 인식이 됨
- 입력 받을 값을 변수에 담아서 사용함
- 숫자일 경우 형 변환 됨

In [16]:
input("Hello?")

Hello? Hi

'Hi'

In [17]:
#1
age = int(input("나이가 어떻게 되나요?"))

나이가 어떻게 되나요? 30

In [18]:
print(age)

30

In [20]:
#2
print("How old are you?")

age = input()

How old are you?

 40

In [21]:
age

'40'

### Quiz 1
- 섭씨를 입력받아서 화씨로 변환하기
- "섭씨" * 1.8 + 32 = "화씨"

In [22]:
celsius = float(input("섭씨 온도는?"))
fahrenheit = celsius * 1.8 + 32

print(fahrenheit)

섭씨 온도는? 15.8

60.44

### Quiz 2
- 택배 정보 입력 받고, 총 합계 계산
- 출력값:

In [23]:
print("=== 택배 정보 ===")

name = input("수취인 성명: ")
address = input("수취인 주소: ")
weight = float(input("무게: "))

price = weight * 5
del_charge = 3000
total = int(del_charge + price)

print(f"총 합계: {total} 원")

=== 택배 정보 ===

수취인 성명:  조재민
수취인 주소:  잠실
무게:  50

총 합계: 3250 원

## Ch03. Numbers

### boolean
- 형 변환할때 True, False 인지 기억하라
    - '', None, 0, ...
- 조건식에서 많이 쓰인다
    - ex) 만약 이 조건이 True라면, ...

In [24]:
bool(1)

True

In [25]:
bool('')

False

### integer
- 소수점 없음
- default 양수, 음수는 앞에 -를 붙임
- 숫자 앞에는 0을 붙일 수 없음 ex) 05
    - 예외적으로 0bxxx, >> 다른 진수 표현법
- 리터럴: 4
- 공백이 많아도 무시됨
-10,000원 >> 10, 000원 두 개로 인식 >> _사용 ex)10_000

### 연산
- 연산자|operator: +, -, 
- 피연산자|operand: 4, 5, ...
- 수식|expression

In [26]:
x = 4
y = 9

x + y
x - y
x * y
x / y

# 거듭제곱|exponential
x ** y

262144

### 나눗셈에서 주의할 사항

In [27]:
#1. division by zero >> 주의 (y != 0)
#2. 몫, 나머지
x // y, x % y, x / y

(0, 4, 0.4444444444444444)

In [28]:
divmod(x, y)

(0, 4)

### 복합 대입연산자

In [29]:
a = 5
a - 3

print(a)

5

In [30]:
a = a - 3
#1 a-3 계산
#2 임시변수 temp = a-3
#3 a = a-3

a -= 3

In [31]:
a += 3
a -= 3
a *= 3
a /= 3

In [32]:
u = 7 # 값 초기화
u += 1

print(u)

8

### Quiz

In [33]:
num = int(input("정수 입력: "))

print("3의 배수?", num % 3 == 0)
print("홀수?", num % 2 != 0)

정수 입력:  7

3의 배수? False
홀수? True

#### 지수 표현
- e, E 둘 다 가능
- 앞부분은 float, int
- 뒷부분은 int만 옴
    - 양수면 0 앞으로
    - 음수면 0 뒤로

In [34]:
1.0e-3 # float

0.001

In [35]:
# 0.00789 >> 지수표현

In [36]:
7.89e-3

0.00789

### 조건문 if
- code structure

### 코드 짜는 규칙
- 주석 다는 법
    - 설명하는 부분
    - 목적: 의도를 표현함
    - '#' hash, sharp, ...
    - 시작된 부분부터 그 라인 끝까지가 주석
    - 문자열 안에 들어있는 hash는 문자열로 인식
    - """<주석>"""
    
- 라인 유지하기
    - 들여쓰기, 공백 4개, 탭 1개
    - 한 줄에 최대 80자 넘지 않게 함
    - 백슬래시로 끊어줌

In [37]:
a = 3 # 라인 끝
b = 2

In [38]:
example = 'hey ###'
print(example)

"""
주석1
주석2
주석3
"""

hey ###

'\n주석1\n주석2\n주석3\n'

In [39]:
if ...:
    ###

IndentationError: expected an indented block (860939359.py, line 2)

#### 조건 1개
- if 조건:
    - <실행할 코드>

In [40]:
if 4 != 9:
    print("Yaay!")

Yaay!

#### 조건 2개
- if 조건:
    - <실행할 코드1>
- else:
    - <실행할 코드2>

In [41]:
if 4 == 9:
    print("Yaay!")
else:
    print("Hey!")

Hey!

#### 조건 3개
- if 조건:
    - <실행할 코드1>
- elif 조건:
    - <실행할 코드2>
- else:
    - <실행할 코드3>

In [42]:
if 4 == 9:
    print("Yaay!")
elif 4 != 9:
    print("Yeah!")
else:
    print("Hey!")

Yeah!

#### 비교연산자
- x < y, x <= y
- x > y, x >= y
- x == y (값)
- x != y (값)
- x is y(값, 메모리 주소)
- x is not y

### Quiz 1
- 학점 부여
- 학점 입력 받아서
    - 90점 이상이면 A
    - 80점 이상이면 B
    - 70점 이상이면 C
    - 그 외 D
- 변수 설정 유의

In [43]:
score = int(input("점수: "))

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
else:
    grade = "D"
    
print(f"\n점수: {score}점\n학점: {grade}")

점수:  85

점수: 85점
학점: B

### Quiz 2
- ID, PW 입력 받아서 둘 다 일치하면 로그인
- ID, PW 각자 정함
- 일치하지 않을 경우 창의적으로 변환

In [44]:
actual_id = "jaemin"
actual_pw = "1234"

user_id = input("ID: ")
user_pw = input("PW: ")

if actual_id == user_id and actual_pw == user_pw:
    print("login success")
else:
    print("login failed")

ID:  jaemin
PW:  1234

login success

#### 논리연산자
- 여러 조건식을 비교할 때
- ex) 10 < x < 20
    - 파이썬에서만 가능한 표현
    - (x > 10) 혹은 (x < 20)
- and, &: 둘 다 참일 때 True
- or, |: 둘 중 하나만 참이여도 True
- not: 참 >> False, 거짓 >> True

### Quiz 3
- Quiz 2 확장판
- 결석 횟수를 입력 받아 80점 이상이지만 결석이 2번 이상이면 F, 나머지는 점수대로
    - 논리연산자 사용
    - if 여러번 사용

In [45]:
score = int(input("점수: "))
absent = int(input("결석 횟수: "))

if score >= 90:
    grade = "A"
elif score >= 80 and absent >= 2:
    grade = "F"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
else:
    grade = "D"
    
print(f"\n점수: {score}점\n학점: {grade}")

점수:  85
결석 횟수:  4

점수: 85점
학점: F