### 매직 메서드
- special method
- '__'로 시작해서 '__'로 끝나는 형식
- __str__, __repr__

In [3]:
class Customer:
    def __init__(self, name):
        self.name = name
        
    def __str__(self):
        # print() 함수로 나온 출력값을 변경하는 것
        return self.name
    
    def __repr__(self):
        # 설정 안하면 __str__과 동일
        # 인스턴스를 출력하는 방식 >> 사용자가 이해하는 객체의 모습을 표현
        return f'Customer({self.name})' # Customer(객체이름)
    
    
c = Customer('kim')
c

Customer(kim)

In [4]:
print(c)
print(repr(c))
print(str(c))

kim
Customer(kim)
kim

### NamedTuple, DataClass
- 객체보다 효율적임 (간단한 속성만 가진 클래스일 경우 활용)
- 딕셔너리 키처럼 사용 가능
- 불변 객체

In [5]:
from collections import namedtuple

Customer = namedtuple('Customer', 'name age') # (클래스명, 변수)
a = Customer('lee', 44)
a.name, a.age

('lee', 44)

In [6]:
from dataclasses import dataclass
# python ver. 3.7 이상에서만 사용 가능

@dataclass
class Customer2:
    name: str
    age: int
    gender: str
    
b = Customer2('hong', 88, 'female')
b.name, b.age, b.gender

('hong', 88, 'female')

### 함수 II
- *, **
- 일급객체
- 내부함수, 클로저
- 익명함수
- 제너레이터
- 재귀함수

#### asterisk: *
- 여러개의 인자를 하나로 묶어주는 '패킹' 가능

In [7]:
def print_args(*args): # 여러개의 인자 >> 패킹
    print(args)
    
    
print_args(1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [8]:
def print_args(*args):
    print(*args) # 언패킹
    
    
print_args(1, 2, 3, 4, 5, 6)

1 2 3 4 5 6

In [9]:
def print_more(num1, num2, *args): # 앞의 두 인수는 필수
    print(num1, num2)
    print(*args, 'optional')
    
    
print_more(1, 2)
print()
print_more(3, 4, 5)

1 2
optional

3 4
5 optional

In [10]:
# 함수 외부에서도 사용 가능
empty = list(range(10))
print(*empty) # 언패킹되어 출력

0 1 2 3 4 5 6 7 8 9

In [11]:
# 행렬, 테이블 데이터
matrix = [
    [1, 2], 
    [3, 4], 
    [5, 6]
]


# 1, 3, 5 / 2, 4, 6 (열만 타고 싶을 때)
for item in zip(*matrix):
    print(item)

(1, 3, 5)
(2, 4, 6)

In [12]:
# 위와 같음
for item in zip([1, 2], [3, 4], [5, 6]):
    print(item)

(1, 3, 5)
(2, 4, 6)

In [13]:
# 키워드 전용 인수 선언시 사용
def print_data(data, *, start, end): # start, end를 받고 싶은 경우
    for item in data[start:end]:
        print(item)
        
# 사용 예시
print_data(empty, start=0, end=4)
# print_data(empty, 0, 1) nope

0
1
2
3

#### kargs: **

In [14]:
def print_kargs(**kargs): # 키: 값 >> 딕셔너리로 반환
    print(kargs)
    # print(**kargs) >> 언패킹 기능 없음!
    
    
print_kargs(wine='crianza', drink='water')

{'wine': 'crianza', 'drink': 'water'}

In [15]:
for wine in ['cabernet', 'crianza', 'shiraz']:
    print_kargs(wine=wine, drink='water')

{'wine': 'cabernet', 'drink': 'water'}
{'wine': 'crianza', 'drink': 'water'}
{'wine': 'shiraz', 'drink': 'water'}

In [16]:
# *, **를 같이 사용 가능
def print_all(num1, num2, *args, **kargs):
    print(num1, num2)
    print(sum(args))
    print(kargs)
    
    
print_all(1, 2, 3, 4, 5, 6, num=4)

1 2
18
{'num': 4}

In [17]:
# 딕셔너리 조인
a = {1: 'a', 2: 'b'}
b = {2: 'c', 3: 'd'}
c = {**a, **b}